* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container1 {
    max-width: 800px;
    margin: 0px auto;
    & > div {
        max-width: 100%;
        min-width: 350px;
        margin: 2.5px 5px;
        height: 350px;
        background-color: #222;
    }
    & > .parent1 {
        padding-top: 32.5px;
        background-color: #222;
        perspective: 1000px;
        & > div {
            margin: 0px auto;
            border: 20px solid;
            animation-name: spinner;
            animation-duration: 2.5s;
            animation-iteration-count: infinite;
        }
        & :first-child,
        & :nth-of-type(2),
        & :nth-of-type(3),
        & :nth-of-type(4) {
            border-color: transparent;
        }
        & :last-child,
        & :nth-of-type(5),
        & :nth-of-type(6),
        & :nth-of-type(7) {
            border-color:  transparent;
            margin-top: -10px;
        }
        & :first-child {
            border-top-color: #f44336;
            width: 300px;
        }
        & :nth-of-type(2) {
            border-top-color: #f44336;
            width: 200px;
            animation-delay: 0.2s;
        }
        & :nth-of-type(3) {
            border-top-color: #4caf50;
            width: 100px;
            animation-delay: 0.4s;
        }
        & :nth-of-type(4) {
            border-top-color: #00bcd4;
            width: 50px;
            position: relative;
            animation-delay: 0.6s;
        }
        & :nth-of-type(4)::after {
            content: "";
            position: absolute;
            width: 15px;
            height: 15px;
            background-color: #f44336;
            top: 8.5px;
            right: -1.5px;
        }
        & :nth-of-type(5) {
            border-bottom-color: #00bcd4;
            width: 50px;
            animation-delay: 0.6s;
        }
        & :nth-of-type(6) {
            border-bottom-color: #4caf50;
            width: 100px;
            animation-delay: 0.8s;
        }
        & :nth-of-type(7) {
            border-bottom-color: #f44336;
            width: 200px;
            animation-delay: 1s;
        }
        & :last-child {
            border-bottom-color: #f44336;
            width: 300px;
            animation-delay: 1.2s;
        }
    }
    & .parent2 {
        & .divs_holder {
            width: 350px;
            margin-left: -45px;
            height: fit-content;
            /* background-color: #4caf50; */
            & div {
                width: 35px;
                height: 35px;
                background-color: #00bcd4;
                margin: 0px 10px;
                border-radius: 5px;
            }
            & :first-child {
                transform: translateX(-5px);
                background-color: #f44336;
                animation-name: right-left;
                animation-duration: 5s;
                animation-iteration-count: infinite;
                animation-timing-function: ease-out;
            }
            & :not(:first-child) {
                background-color: #4caf50;
                animation-duration: 5s;
                animation-iteration-count: infinite;
                animation-timing-function: ease-out;
            }
            & :nth-of-type(2) {
                animation-name: up-down-child1;
                /* animation-delay: 0.5S; */
            }
            & :nth-of-type(3) {
                animation-name: up-down-child2;
                animation-delay: 0.5S;
            }
            & :nth-of-type(4) {
                animation-name: up-down-child3;
                animation-delay: 1S;
            }
        }
    }
    & .parent3 {
        & .child-parent {
            position: relative;
            & span {
                background-color: #4caf50;
                width: 10px;
                height: 30px;
                display: inline-block;
                margin: 0px 2px;
                animation-duration: 6s;
                animation-iteration-count: infinite;
            }
            & :first-child{
                height: 15px;
                animation-name: tall-short1;
            }
            & :nth-child(2){
                height: 30px;
                /* animation-name: tall-short2; 20 37, 38 52*/
            }
            & :last-child{
                height: 45px;
                animation-name: tall-short3;
            }
        }
        & .child-parent::before {
            content: "";
            width: 10px;
            height: 10px;
            background-color: #00bcd4;
            position: absolute;
            border-radius: 50%;
            animation-name: tall-short-ball;
            animation-duration: 6s;
            animation-iteration-count: infinite;
            left: 2px;
            bottom: 22px;
        }

    }
}
@keyframes tall-short-ball {
    5% {
        left: 2px;
        bottom: 22px;
    }
    9% {
        left: 21px;
        bottom: 42px;
    }
    14% {
        left: 20px;
        bottom: 37px;
    }
    18% {
        left: 39px;
        bottom: 57px;
    }
    19% {
        left: 38px;
        bottom: 52px;
    }
    45% {
        left: 38px;
        bottom: 52px;
    }
    50% {
        left: 38px;
        bottom: 20px;
    }
    55% {
        left: 19px;
        bottom: 42px;
    }
    59% {
        left: 20px;
        bottom: 37px;
    }
    64% {
        left: 1px;
        bottom: 57px;
    }
    68% {
        left: 2px;
        bottom: 52px;
    }
    95% {
        left: 2px;
        bottom: 52px;
    }
}
@keyframes tall-short1{
    45% {
        height: 15px;
    }
    50% {
        height: 45px;
    }
    95% {
        height: 45px;
    }
    100%{
        height: 15px;   
    }
}
@keyframes tall-short3{
    45% {
        height: 45px;
    }
    50% {
        height: 15px;
    }
    95% {
        height: 15px;
    }
    100%{
        height: 45px;   
    }
}
@keyframes spinner {
    to {
        transform: rotateY(180deg);
    }
}
@keyframes right-left {
    50% {
        transform: translateX(180px);
    }
    100% {
        transform: translateX(-5px);
    }
}
@keyframes up-down-child1 {
    10% {
        transform: translate(-25px, -80px) rotate(-360deg);
    }
    20% {
        transform: translate(-50px, 0px) rotateX(30deg);
    }
    30% {
        transform: translate(-50px, 0px);
    }
    40% {
        transform: translate(-50px, 0px) rotateX(30deg);
    }
    50% {
        transform: translate(-50px, 0px) rotateX(30deg);
    }
    70% {
        transform: translate(-50px, 0px);
    }
    85% {
        transform: translate(-25px, -80px) rotate(-360deg);
    }
    90% {
        transform: translate(0px, 0px) rotateX(30deg);
    }
}
@keyframes up-down-child2 {
    10% {
        transform: translate(-25px, -80px) rotate(-360deg);
    }
    20% {
        transform: translate(-50px, 0px) rotateX(30deg);
    }
    30% {
        transform: translate(-50px, 0px);
    }
    40% {
        transform: translate(-50px, 0px) rotateX(30deg);
    }
    50% {
        transform: translate(-50px, 0px);
    }
    60% {
        transform: translate(-25px, -80px) rotate(-360deg);
    }
    65% {
        transform: translate(0px, 0px) rotateX(30deg);
    }
}
@keyframes up-down-child3 {
    10% {
        transform: translate(-25px, -80px) rotate(-360deg);
    }
    25% {
        transform: translate(-50px, 0px) rotateX(30deg);
    }
    30% {
        transform: translate(-50px, 0px);
    }
    40% {
        transform: translate(-25px, -80px) rotate(-360deg);
    }
    45% {
        transform: translate(0px, 0px) rotateX(30deg);
    }
    50% {
        transform: translate(0px, 0px);
    }
}
/* @keyframes up-down-child2 {
    10% {
        transform: translate(-25px, -80px) rotate(-360deg);
    }
    20% {
        transform: translate(-50px, 0px) rotateX(30deg);
    }
    30% {
        transform: translate(-50px, 0px);
    }
    70% {
        transform: translate(-50px, 0px);
    }
    85% {
        transform: translate(-25px, -80px) rotate(-360deg);
    }
    90% {
        transform: translate(0px, 0px) rotateX(30deg);
    }
}
@keyframes up-down-child3 {
    10% {
        transform: translate(-25px, -80px) rotate(-360deg);
    }
    20% {
        transform: translate(-50px, 0px) rotateX(30deg);
    }
    30% {
        transform: translate(-50px, 0px);
    }
    40% {
        transform: translate(-50px, 0px);
    }
    85% {
        transform: translate(-25px, -80px) rotate(-360deg);
    }
    90% {
        transform: translate(0px, 0px) rotateX(30deg);
    }
} */
/* @keyframes up-down-child3 {
    10% {
        transform: translate(-25px, -80px) rotate(-360deg);
    }
    20% {
        transform: translate(-50px, 0px) rotateX(30deg);
    }
    30% {
        transform: translate(-50px, 0px);
    }
    45% {
        transform: translate(-25px, -80px) rotate(-360deg);
    }
    70% {
        transform: translate(0px, 0px) rotateX(30deg);
    }
    75% {
        transform: translate(0px, 0px) rotateX(30deg);
    }
} */
