* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container1 {
    max-width: 800px;
    margin: 0px auto;
    & > div {
        max-width: 100%;
        min-width: 350px;
        margin: 2.5px 5px;
        height: 350px;
        background-color: #222;
    }
    & > .parent1 {
        padding-top: 32.5px;
        background-color: #222;
        perspective: 1000px;
        & > div {
            margin: 0px auto;
            border: 20px solid;
            animation-name: spinner;
            animation-duration: 2.5s;
            animation-iteration-count: infinite;
        }
        & :first-child,
        & :nth-of-type(2),
        & :nth-of-type(3),
        & :nth-of-type(4) {
            border-color: transparent;
        }
        & :last-child,
        & :nth-of-type(5),
        & :nth-of-type(6),
        & :nth-of-type(7) {
            border-color:  transparent;
            margin-top: -10px;
        }
        & :first-child {
            border-top-color: #00bcd4;
            width: 300px;
        }
        & :nth-of-type(2) {
            border-top-color: #f44336;
            width: 200px;
            animation-delay: 0.2s;
        }
        & :nth-of-type(3) {
            border-top-color: #4caf50;
            width: 100px;
            animation-delay: 0.4s;
        }
        & :nth-of-type(4) {
            border-top-color: #3f51b5;
            width: 50px;
            position: relative;
            animation-delay: 0.6s;
        }
        & :nth-of-type(4)::after {
            content: "";
            position: absolute;
            width: 15px;
            height: 15px;
            background-color: #ffc107;
            top: 8.5px;
            right: -1.5px;
        }
        & :nth-of-type(5) {
            border-bottom-color: #3f51b5;
            width: 50px;
            animation-delay: 0.6s;
        }
        & :nth-of-type(6) {
            border-bottom-color: #4caf50;
            width: 100px;
            animation-delay: 0.8s;
        }
        & :nth-of-type(7) {
            border-bottom-color: #f44336;
            width: 200px;
            animation-delay: 1s;
        }
        & :last-child {
            border-bottom-color: #00bcd4;
            width: 300px;
            animation-delay: 1.2s;
        }
    }
    & .parent2 {
        & .divs_holder {
            width: 350px;
            margin-left: -45px;
            height: fit-content;
            /* background-color: #4caf50; */
            & div {
                width: 35px;
                height: 35px;
                background-color: #00bcd4;
                margin: 0px 10px;
                border-radius: 5px;
            }
            & :first-child {
                transform: translateX(-5px);
                background-color: #f44336;
                animation-name: right-left;
                animation-duration: 5s;
                animation-iteration-count: infinite;
                animation-timing-function: ease-out;
            }
            & :not(:first-child) {
                background-color: #4caf50;
                animation-duration: 5s;
                animation-iteration-count: infinite;
                animation-timing-function: ease-out;
            }
            & :nth-of-type(2) {
                animation-name: up-down-child1;
                /* animation-delay: 0.5S; */
            }
            & :nth-of-type(3) {
                animation-name: up-down-child2;
                animation-delay: 0.5S;
            }
            & :nth-of-type(4) {
                animation-name: up-down-child3;
                animation-delay: 1S;
            }
        }
    }
}
@keyframes spinner {
    to {
        transform: rotateY(180deg);
    }
}
@keyframes right-left {
    50% {
        transform: translateX(200px);
    }
    100% {
        transform: translateX(-5px);
    }
}
@keyframes up-down-child1 {
    10% {
        transform: translate(-25px, -80px) rotate(-360deg);
    }
    20% {
        transform: translate(-50px, 0px) rotateX(30deg);
    }
    30% {
        transform: translate(-50px, 0px);
    }
    40% {
        transform: translate(-50px, 0px) rotateX(30deg);
    }
    50% {
        transform: translate(-50px, 0px) rotateX(30deg);
    }
    60% {
        transform: translate(-50px, 0px);
    }
    70% {
        transform: translate(-50px, 0px);
    }
    85% {
        transform: translate(-25px, -80px) rotate(-360deg);
    }
    90% {
        transform: translate(0px, 0px) rotateX(30deg);
    }
}
@keyframes up-down-child2 {
    10% {
        transform: translate(-25px, -80px) rotate(-360deg);
    }
    20% {
        transform: translate(-50px, 0px) rotateX(30deg);
    }
    30% {
        transform: translate(-50px, 0px);
    }
    40% {
        transform: translate(-50px, 0px);
    }
    65% {
        transform: translate(-25px, -80px) rotate(-360deg);
    }
    70% {
        transform: translate(0px, 0px) rotateX(30deg);
    }
}
@keyframes up-down-child3 {
    10% {
        transform: translate(-25px, -80px) rotate(-360deg);
    }
    20% {
        transform: translate(-50px, 0px) rotateX(30deg);
    }
    30% {
        transform: translate(-50px, 0px);
    }
    /* 40% {
        transform: translate(-50px, 0px);
    } */
    45% {
        transform: translate(-25px, -80px) rotate(-360deg);
    }
    70% {
        transform: translate(0px, 0px) rotateX(30deg);
    }
}